<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Quiz</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
		
			<div class="quiz-container">
		
				<div class="quiz-header">
					<h2 id="question">Question Text</h2>
					<div class="box"></div>
				<ul>
					<li>
						<input type="radio" id="a" name="answer" class="answer">
						<label for="a" id="al">Question</label>
					</li>
					<li>
						<input type="radio" id="b" name="answer" class="answer">
						<label for="b" id="bl">Question</label>
					</li>
					<li>
						<input type="radio" id="c" name="answer" class="answer">
						<label for="c" id="cl">Question</label>
					</li>
					<li>
						<input type="radio" id="d" name="answer" class="answer">
						<label for="d" id="dl">Question</label>
					</li>
				</ul>
				</div>
				<button id="submit">Submit</button>
			</div>

			<script type="text/javascript" src="/js/script.js"></script>
			
		
</body>
</html>